# URL de tu API Gateway generado por Terraform
# Ejemplo: https://p70gn8n0wg.execute-api.us-east-1.amazonaws.com
VITE_API_URL=https://p70gn8n0wg.execute-api.us-east-1.amazonaws.com

# No es necesario para el flujo simulado, pero útil para futuras integraciones reales
VITE_COGNITO_CLIENT_ID=2ildco2vbcspsnjuvr4vtnpd
VITE_COGNITO_USER_POOL_ID=us-east-1_nS4ukF5uR
